<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/index.css">
    <title>koa-template</title>
</head>
<body>
    <div></div>
    <h1 class="demo">当您看到此页面,说明您的 koa 模板服务已成功运行</h1>
</body>
</html>