div{
    width: 200px;
    height: 200px;
    background: url(../images/xiao.jpg) no-repeat;
    background-size: cover;
    margin: 60px auto;
}
h1{
    text-align: center;
    color:red;
    margin: 0px auto;
}